.signup-child
  .signup-header
    h3 PREMIUM
    .signup-pricing
      span.pricing $#{plan.price}
      | /month
      p That’s only #{Math.round(plan.price/30)}$ per meal
  .signup-features
    ul
      li
        i.fas.fa-check.small-icon  
        | 1 meal every day
      li
        i.fas.fa-check.small-icon  
        | Rated #{plan.averagerating}
      li
        i.fas.fa-check.small-icon  
        | Name:-  #{plan.name}
      li
        i.fas.fa-check.small-icon  
        | Duration #{plan.duration}
    .signup-button
      a.colourfulLinkofSignUp(href='#' plan-id=`${plan["_id"]}` ) I'm hungry 